openapi: 3.0.1
info:
  version: "7.0.85"
  title: ThousandEyes API
servers:
  - description: ThousandEyes API production URL
    url: https://api.thousandeyes.com/v7
tags:
  - name: Tests
    description: Get all tests
    x-displayName: Tests
  - name: Agent to Server Tests
    description: Agent to Server test management operations
    x-displayName: Agent to Server Tests
  - name: Agent to Agent Tests
    description: Agent to Agent test management operations
    x-displayName: Agent to Agent Tests
  - name: BGP Tests
    description: BGP test management operations
    x-displayName: BGP Tests
  - name: DNS Server Tests
    description: DNS Server test management operations
    x-displayName: DNS Server Tests
  - name: DNS Trace Tests
    description: DNS Trace test management operations
    x-displayName: DNS Trace Tests
  - name: DNSSEC Tests
    description: DNSSEC test management operations
    x-displayName: DNSSEC Tests
  - name: HTTP Server Tests
    description: HTTP Server test management operations
    x-displayName: HTTP Server Tests
  - name: Page Load Tests
    description: Page Load test management operations
    x-displayName: Page Load Tests
  - name: Web Transaction Tests
    description: Web Transactions test management operations
    x-displayName: Web Transaction Tests
  - name: API Tests
    description: API test management operations
    x-displayName: API Tests
  - name: FTP Server Tests
    description: FTP Server test management operations
    x-displayName: FTP Server Tests
  - name: SIP Server Tests
    description: SIP Server test management operations
    x-displayName: SIP Server Tests
  - name: Voice Tests
    description: Voice test management operations
    x-displayName: Voice Tests
  - name: Path Visualization Interface Groups
    x-displayName: Path Visualization Interface Groups
  - name: Network Test Results
    x-displayName: Network Test Results
  - name: Web HTTP Server Test Results
    x-displayName: Web HTTP Server Test Results
  - name: Web Page Load Test Results
    x-displayName: Web Page Load Test Results
  - name: Web Transactions Test Results
    x-displayName: Web Transactions Test Results
  - name: API Test Results
    x-displayName: API Test Results
  - name: Web FTP Server Test Results
    x-displayName: Web FTP Server Test Results
  - name: DNS Trace Test Results
    x-displayName: DNS Trace Test Results
  - name: DNS Server Test Results
    x-displayName: DNS Server Test Results
  - name: DNSSEC Test Results
    x-displayName: DNSSEC Test Results
  - name: Voice SIP Server Test Results
    x-displayName: Voice SIP Server Test Results
  - name: Voice RTP Server Test Results
    x-displayName: Voice RTP Server Test Results
  - name: Network BGP Test Results
    x-displayName: Network BGP Test Results
  - name: Instant Tests
    x-displayName: Instant Tests
  - name: Agent to Agent Instant Tests
    x-displayName: Agent to Agent Instant Tests
  - name: Agent to Server Instant Tests
    x-displayName: Agent to Server Instant Tests
  - name: DNS Server Instant Tests
    x-displayName: DNS Server Instant Tests
  - name: DNS Trace Instant Tests
    x-displayName: DNS Trace Instant Tests
  - name: DNSSEC Instant Tests
    x-displayName: DNSSEC Instant Tests
  - name: HTTP Server Instant Tests
    x-displayName: HTTP Server Instant Tests
  - name: HTTP Page Load Instant Tests
    x-displayName: HTTP Page Load Instant Tests
  - name: Web Transaction Instant Tests
    x-displayName: Web Transaction Instant Tests
  - name: API Instant Tests
    x-displayName: API Instant Tests
  - name: FTP Server Instant Tests
    x-displayName: FTP Server Instant Tests
  - name: SIP Server Instant Tests
    x-displayName: SIP Server Instant Tests
  - name: Voice Instant Tests
    x-displayName: Voice Instant Tests
  - name: Streaming
    description: Configure data streaming
    x-displayName: Streaming
  - name: Test Snapshots
    x-displayName: Test Snapshots
  - name: Usage
    description: Usage GET Operation
    x-displayName: Usage
  - name: Quotas
    description: Quota CRUD Operation
    x-displayName: Quotas
  - name: Templates
    x-displayName: Templates
  - name: Internet Insights Catalog Providers
    x-displayName: Internet Insights Catalog Providers
  - name: Internet Insights Outages
    x-displayName: Internet Insights Outages
  - name: Tags
    description: Tag CRUD Operations
    x-displayName: Tags
  - name: Tag Assignment
    description: Assign tags to other objects
    x-displayName: Tag Assignment
  - name: Operation Connectors
    description: Manage the connectors assigned to an operation.
    x-displayName: Operation Connectors
  - name: Webhook Operations
    description: >-
      Webhook operations allow you to customize the payload of generic
      connectors.
    x-displayName: Webhook Operations
  - name: Generic Connectors
    description: >-
      A generic connector represents an instance of a third-party service that
      you can integrate with the ThousandEyes platform.
    x-displayName: Generic Connectors
  - name: Events
    x-displayName: Events
  - name: Endpoint Scheduled Tests
    x-displayName: Endpoint Scheduled Tests
  - name: Agent to Server Endpoint Scheduled Tests
    x-displayName: Agent to Server Endpoint Scheduled Tests
  - name: HTTP Server Endpoint Scheduled Tests
    x-displayName: HTTP Server Endpoint Scheduled Tests
  - name: Agent To Server Endpoint Dynamic Tests
    x-displayName: Agent To Server Endpoint Dynamic Tests
  - name: Network Endpoint Scheduled Test Results
    x-displayName: Network Endpoint Scheduled Test Results
  - name: HTTP Server Endpoint Scheduled Test Results
    x-displayName: HTTP Server Endpoint Scheduled Test Results
  - name: Network Dynamic Endpoint Test Results
    x-displayName: Network Dynamic Endpoint Test Results
  - name: Real User Endpoint Test Results
    x-displayName: Real User Endpoint Test Results
  - name: Local Network Endpoint Test Results
    x-displayName: Local Network Endpoint Test Results
  - name: Endpoint Agent Labels
    x-displayName: Endpoint Agent Labels
  - name: Agent to Server Endpoint Instant Scheduled Tests
    x-displayName: Agent to Server Endpoint Instant Scheduled Tests
  - name: HTTP Server Endpoint Instant Scheduled Tests
    x-displayName: HTTP Server Endpoint Instant Scheduled Tests
  - name: Run Endpoint Instant Scheduled Tests
    x-displayName: Run Endpoint Instant Scheduled Tests
  - name: Endpoint Agents
    x-displayName: Endpoint Agents
  - name: Endpoint Agents Transfer
    x-displayName: Endpoint Agents Transfer
  - name: Emulation
    x-displayName: Emulation
  - name: Dashboards
    description: Dashboards and Widgets operations
    x-displayName: Dashboards
  - name: Dashboard Snapshots
    description: Dashboard Snapshots CRUD operations
    x-displayName: Dashboard Snapshots
  - name: Dashboards Filters
    x-displayName: Dashboards Filters
  - name: Credentials
    x-displayName: Credentials
  - name: Cloud Insights Integrations
    description: Manage Cloud Insights integrations for AWS and Azure.
    x-displayName: Cloud Insights Integrations
  - name: Cloud Insights Integration Policy Settings
    description: Manage Cloud Insights integration policy settings for AWS and Azure.
    x-displayName: Cloud Insights Integration Policy Settings
  - name: BGP monitors
    x-displayName: BGP monitors
  - name: Autonomous Systems
    x-displayName: Autonomous Systems
  - name: Autonomous System Prefixes
    x-displayName: Autonomous System Prefixes
  - name: API Token
    x-displayName: API Token
  - name: Alerts
    x-displayName: Alerts
  - name: Alert Rules
    x-displayName: Alert Rules
  - name: Alert Suppression Windows
    x-displayName: Alert Suppression Windows
  - name: Cloud and Enterprise Agents
    x-displayName: Cloud and Enterprise Agents
  - name: Enterprise Agent Cluster
    x-displayName: Enterprise Agent Cluster
  - name: Cloud and Enterprise Agent Notification Rules
    x-displayName: Cloud and Enterprise Agent Notification Rules
  - name: Agent Proxies
    x-displayName: Agent Proxies
  - name: Tests Assignment on Agents
    x-displayName: Tests Assignment on Agents
  - name: Account Groups
    description: Account group CRUD operations
    x-displayName: Account Groups
  - name: Users
    description: User CRUD operations
    x-displayName: Users
  - name: Roles
    description: Role CRUD operations
    x-displayName: Roles
  - name: Permissions
    description: Permission GET operation
    x-displayName: Permissions
  - name: User Events
    description: User events GET operation
    x-displayName: User Events
externalDocs:
  description: Find out more about ThousandEyes
  url: https://developer.thousandeyes.com/
paths:
  /tests:
    get:
      tags:
        - Tests
      summary: List configured tests
      operationId: getTests
      description: >
        Returns configured tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_Tests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/bgp:
    get:
      tags:
        - BGP Tests
      summary: List BGP tests
      operationId: getBgpTests
      description: >
        Returns a list of BGP tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_BgpTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - BGP Tests
      summary: Create BGP test
      operationId: createBgpTest
      description: Creates a new BGP test. This method requires Account Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandBgpTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_BgpTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_BgpTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/bgp/{testId}:
    get:
      tags:
        - BGP Tests
      summary: Get BGP test
      operationId: getBgpTest
      description: >-
        Returns details for a BGP test, including name, intervals, targets,
        alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandBgpTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_BgpTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - BGP Tests
      summary: Update BGP test
      operationId: updateBgpTest
      description: >-
        Updates a BGP test. Shared tests have limited updating capabilities.
        Only account-specific configurations may be updated, namely: alert
        rules, alert suppression windows, labels, tags. This method requires
        Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandBgpTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_UpdateBgpTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_BgpTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - BGP Tests
      summary: Delete BGP test
      operationId: deleteBgpTest
      description: Deletes a BGP test. This method requires Account Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/agent-to-server:
    get:
      tags:
        - Agent to Server Tests
      summary: List Agent to Server tests
      operationId: getAgentToServerTests
      description: >
        Returns a list of Agent to Server tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_AgentToServerTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - Agent to Server Tests
      summary: Create Agent to Server test
      operationId: createAgentToServerTest
      description: >-
        Creates a new Agent to Server test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_AgentToServerTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_AgentToServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/agent-to-server/{testId}:
    get:
      tags:
        - Agent to Server Tests
      summary: Get Agent to Server test
      operationId: getAgentToServerTest
      description: >-
        Returns details for a Agent to Server test, including name, intervals,
        targets, alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_AgentToServerTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - Agent to Server Tests
      summary: Update Agent to Server test
      operationId: updateAgentToServerTest
      description: >-
        Updates an Agent to Server test. Shared tests have limited updating
        capabilities. Only account-specific configurations may be updated,
        namely: alert rules, alert suppression windows, labels, tags. This
        method requires Account Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_UpdateAgentToServerTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_AgentToServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - Agent to Server Tests
      summary: Delete Agent to Server test
      operationId: deleteAgentToServerTest
      description: >-
        Deletes an Agent to Server test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/agent-to-agent:
    get:
      tags:
        - Agent to Agent Tests
      summary: List Agent to Agent tests
      operationId: getAgentToAgentTests
      description: >
        Returns a list of Agent to Agent tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_AgentToAgentTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - Agent to Agent Tests
      summary: Create Agent to Agent test
      operationId: createAgentToAgentTest
      description: >-
        Creates a new Agent to Agent test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_AgentToAgentTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_AgentToAgentTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/agent-to-agent/{testId}:
    get:
      tags:
        - Agent to Agent Tests
      summary: Get Agent to Agent test
      operationId: getAgentToAgentTest
      description: >-
        Returns details for a Agent to Agent test, including name, intervals,
        targets, alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_AgentToAgentTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - Agent to Agent Tests
      summary: Update Agent to Agent test
      operationId: updateAgentToAgentTest
      description: >-
        Updates a Agent to Agent test. Shared tests have limited updating
        capabilities. Only account-specific configurations may be updated,
        namely: alert rules, alert suppression windows, labels, tags. This
        method requires Account Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_AgentToAgentTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_AgentToAgentTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - Agent to Agent Tests
      summary: Delete Agent to Agent test
      operationId: deleteAgentToAgentTest
      description: >-
        Deletes the specified Agent to Agent test. This method requires Account
        Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/dns-server:
    get:
      tags:
        - DNS Server Tests
      summary: List DNS Server tests
      operationId: getDnsServerTests
      description: >
        Returns a list of all DNS Server tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsServerTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - DNS Server Tests
      summary: Create DNS Server test
      operationId: createDnsServerTest
      description: >-
        Creates a new DNS Server test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_DnsServerTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/dns-server/{testId}:
    get:
      tags:
        - DNS Server Tests
      summary: Get DNS Server test
      operationId: getDnsServerTest
      description: >-
        Returns details for a DNS Server test, including name, intervals,
        targets, alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsServerTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - DNS Server Tests
      summary: Update DNS Server test
      operationId: updateDnsServerTest
      description: >-
        Updates a DNS Server test. Shared tests have limited updating
        capabilities. Only account-specific configurations may be updated,
        namely: alert rules, alert suppression windows, labels, tags. This
        method requires Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_DnsServerTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - DNS Server Tests
      summary: Delete DNS Server test
      operationId: deleteDnsServerTest
      description: >-
        Deletes the specified DNS Server test. This method requires Account
        Admin permissions. 
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/dns-trace:
    get:
      tags:
        - DNS Trace Tests
      summary: List DNS Trace tests
      operationId: getDnsTraceTests
      description: >
        Returns a list of all DNS Trace tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsTraceTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - DNS Trace Tests
      summary: Create DNS Trace test
      operationId: createDnsTraceTest
      description: >-
        Creates a new DNS Trace test. This method requires Account Admin
        permissions. 
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_DnsTraceTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsTraceTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/dns-trace/{testId}:
    get:
      tags:
        - DNS Trace Tests
      summary: Get DNS Trace test
      operationId: getDnsTraceTest
      description: >-
        Returns details for a DNS Trace test, including name, intervals,
        targets, alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsTraceTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - DNS Trace Tests
      summary: Update DNS Trace test
      operationId: updateDnsTraceTest
      description: >-
        Updates a DNS Trace test. Shared tests have limited updating
        capabilities. Only account-specific configurations may be updated,
        namely: alert rules, alert suppression windows, labels, tags. This
        method requires Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_DnsTraceTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsTraceTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - DNS Trace Tests
      summary: Delete DNS Trace test
      operationId: deleteDnsTraceTest
      description: >-
        Deletes the specified DNS Trace test. This method requires Account Admin
        permissions. 
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/dnssec:
    get:
      tags:
        - DNSSEC Tests
      summary: List DNSSEC tests
      operationId: getDnsSecTests
      description: >
        Returns a list of all DNSSEC tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsSecTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - DNSSEC Tests
      summary: Create DNSSEC test
      operationId: createDnsSecTest
      description: >-
        Creates a new DNSSEC test. This method requires Account Admin
        permissions. 
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_DnsSecTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsSecTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/dnssec/{testId}:
    get:
      tags:
        - DNSSEC Tests
      summary: Get DNSSEC test
      operationId: getDnsSecTest
      description: >-
        Returns details for a DNSSEC test, including name, intervals, targets,
        alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsSecTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - DNSSEC Tests
      summary: Update DNSSEC test
      operationId: updateDnsSecTest
      description: >-
        Updates a DNSSEC test. Shared tests have limited updating capabilities.
        Only account-specific configurations may be updated, namely: alert
        rules, alert suppression windows, labels, tags. This method requires
        Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_DnsSecTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_DnsSecTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - DNSSEC Tests
      summary: Delete DNSSEC test
      operationId: deleteDnsSecTest
      description: >-
        Deletes the specified DNSSEC test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/http-server:
    get:
      tags:
        - HTTP Server Tests
      summary: List HTTP Server tests
      operationId: getHttpServerTests
      description: >
        Returns a list of all HTTP Server tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_HttpServerTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - HTTP Server Tests
      summary: Create HTTP Server test
      operationId: createHttpServerTest
      description: >-
        Creates a new HTTP Server test. This method requires Account Admin
        permissions. 
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_HttpServerTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_HttpServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/http-server/{testId}:
    get:
      tags:
        - HTTP Server Tests
      summary: Get HTTP Server test
      operationId: getHttpServerTest
      description: >-
        Returns details for a HTTP Server test, including name, intervals,
        targets, alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_HttpServerTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - HTTP Server Tests
      summary: Update HTTP Server test
      operationId: updateHttpServerTest
      description: >-
        Updates a HTTP Server test. Shared tests have limited updating
        capabilities. Only account-specific configurations may be updated,
        namely: alert rules, alert suppression windows, labels, tags. This
        method requires Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_HttpServerTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_HttpServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - HTTP Server Tests
      summary: Delete HTTP Server test
      operationId: deleteHttpServerTest
      description: >-
        Deletes the specified HTTP Server test. This method requires Account
        Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/page-load:
    get:
      tags:
        - Page Load Tests
      summary: List Page Load tests
      operationId: getPageLoadTests
      description: >
        Returns a list of all Page Load tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_PageLoadTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - Page Load Tests
      summary: Create Page Load test
      operationId: createPageLoadTest
      description: >-
        Creates a new Page Load test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_PageLoadTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_PageLoadTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/page-load/{testId}:
    get:
      tags:
        - Page Load Tests
      summary: Get Page Load test
      operationId: getPageLoadTest
      description: >-
        Returns details for a Page Load test, including name, intervals,
        targets, alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_PageLoadTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - Page Load Tests
      summary: Update Page Load test
      operationId: updatePageLoadTest
      description: >-
        Updates a Page Load test. Shared tests have limited updating
        capabilities. Only account-specific configurations may be updated,
        namely: alert rules, alert suppression windows, labels, tags. This
        method requires Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_PageLoadTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_PageLoadTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - Page Load Tests
      summary: Delete Page Load test
      operationId: deletePageLoadTest
      description: >-
        Deletes the specified Page Load test. This method requires Account Admin
        permissions. 
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/web-transactions:
    get:
      tags:
        - Web Transaction Tests
      summary: List Web Transactions tests
      operationId: getWebTransactionsTests
      description: >
        Returns a list of all Web Transactions tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_WebTransactionTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - Web Transaction Tests
      summary: Create Web Transactions test
      operationId: createWebTransactionsTest
      description: >-
        Creates a new Web Transactions test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_WebTransactionTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_WebTransactionTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/web-transactions/{testId}:
    get:
      tags:
        - Web Transaction Tests
      summary: Get Web Transactions test
      operationId: getWebTransactionsTest
      description: >-
        Returns details for a Web Transactions test, including name, intervals,
        targets, alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_WebTransactionTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - Web Transaction Tests
      summary: Update Web Transactions test
      operationId: updateWebTransactionsTest
      description: >-
        Updates a Web Transactions test. Shared tests have limited updating
        capabilities. Only account-specific configurations may be updated,
        namely: alert rules, alert suppression windows, labels, tags. This
        method requires Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_WebTransactionTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_WebTransactionTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - Web Transaction Tests
      summary: Delete Web Transactions test
      operationId: deleteWebTransactionsTest
      description: >-
        Deletes the specified Web Transactions test. This method requires
        Account Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/api:
    get:
      tags:
        - API Tests
      summary: List API tests
      operationId: getApiTests
      description: >
        Returns a list of all API tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_ApiTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - API Tests
      summary: Create API test
      operationId: createApiTest
      description: Creates a new API test. This method requires Account Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_ApiTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_ApiTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/api/{testId}:
    get:
      tags:
        - API Tests
      summary: Get API test
      operationId: getApiTest
      description: >-
        Returns details for a API test configuration. Please use `expand`
        parameter to access sub-resources such as alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_ApiTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - API Tests
      summary: Update API test
      operationId: updateApiTest
      description: >-
        Updates an API test. Shared tests have limited updating capabilities.
        Only account-specific configurations may be updated, namely: alert
        rules, alert suppression windows, labels, tags. This method requires
        write permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_ApiTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_ApiTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - API Tests
      summary: Delete API test
      operationId: deleteApiTest
      description: Deletes the specified API test. This method requires write permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/ftp-server:
    get:
      tags:
        - FTP Server Tests
      summary: List FTP Server tests
      operationId: getFtpServerTests
      description: >
        Returns a list of FTP Server tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_FtpServerTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - FTP Server Tests
      summary: Create FTP Server test
      operationId: createFtpServerTest
      description: >-
        Creates a new FTP Server test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_FtpServerTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_FtpServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/ftp-server/{testId}:
    get:
      tags:
        - FTP Server Tests
      summary: Get FTP Server test
      operationId: getFtpServerTest
      description: >-
        Returns details for a FTP Server test, including name, intervals,
        targets, alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_FtpServerTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - FTP Server Tests
      summary: Update FTP Server test
      operationId: updateFtpServerTest
      description: >-
        Updates a FTP Server test. Shared tests have limited updating
        capabilities. Only account-specific configurations may be updated,
        namely: alert rules, alert suppression windows, labels, tags. This
        method requires Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_FtpServerTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_FtpServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - FTP Server Tests
      summary: Delete FTP Server test
      operationId: deleteFtpServerTest
      description: >-
        Deletes the specified FTP Server test. This method requires Account
        Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
      security:
        - Tests_API_BearerAuth: []
  /tests/{testId}/history:
    get:
      tags:
        - Tests
      summary: Get test version history
      operationId: getTestVersionHistory
      description: Retrieve the version history of a specific test.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - name: limit
          in: query
          description: >-
            The maximum number of version history entries to return. If not
            specified, the default is 50 or the total number of available
            versions, whichever is fewer.
          required: false
          schema:
            type: integer
            default: 50
            maximum: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tests_API_TestVersionHistoryResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '500':
          $ref: '#/components/responses/Tests_API_500'
      security:
        - Tests_API_BearerAuth: []
  /tests/sip-server:
    get:
      tags:
        - SIP Server Tests
      summary: List SIP Server tests
      operationId: getSipServerTests
      description: >
        Returns a list of SIP Server tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_SipServerTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - SIP Server Tests
      summary: Create SIP Server test
      operationId: createSipServerTest
      description: >-
        Creates a new SIP Server test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_SipServerTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_SipServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/sip-server/{testId}:
    get:
      tags:
        - SIP Server Tests
      summary: Get SIP Server test
      operationId: getSipServerTest
      description: >-
        Returns details for a SIP Server test, including name, intervals,
        targets, alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_SipServerTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - SIP Server Tests
      summary: Update SIP Server test
      operationId: updateSipServerTest
      description: >-
        Updates a SIP Server test. Shared tests have limited updating
        capabilities. Only account-specific configurations may be updated,
        namely: alert rules, alert suppression windows, labels, tags. This
        method requires Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_SipServerTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_SipServerTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - SIP Server Tests
      summary: Delete SIP Server test
      operationId: deleteSipServerTest
      description: >-
        Deletes the specified SIP Server test. This method requires Account
        Admin permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
      security:
        - Tests_API_BearerAuth: []
  /tests/voice:
    get:
      tags:
        - Voice Tests
      summary: List Voice tests
      operationId: getVoiceTests
      description: >
        Returns a list of Voice tests and saved events.


        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_VoiceTests'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    post:
      tags:
        - Voice Tests
      summary: Create Voice test
      operationId: createVoiceTest
      description: >-
        Creates a new Voice test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_VoiceTestRequest'
      responses:
        '201':
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Tests_API_Location'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_VoiceTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /tests/voice/{testId}:
    get:
      tags:
        - Voice Tests
      summary: Get Voice test
      operationId: getVoiceTest
      description: >-
        Returns details for a Voice test, including name, intervals, targets,
        alert rules and agents.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_VersionId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_VoiceTestResponse'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    put:
      tags:
        - Voice Tests
      summary: Update Voice test
      operationId: updateVoiceTest
      description: >-
        Updates a Voice test. Shared tests have limited updating capabilities.
        Only account-specific configurations may be updated, namely: alert
        rules, alert suppression windows, labels, tags. This method requires
        Account Admin permissions.

        **Note**: **Saved Events** are now called **Private Snapshots** in the
        user interface. This change does not affect API.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
        - $ref: '#/components/parameters/Tests_API_ExpandTest'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tests_API_VoiceTestRequest'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Tests_API_VoiceTestResponse'
        '400':
          $ref: '#/components/responses/Tests_API_400'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
    delete:
      tags:
        - Voice Tests
      summary: Delete Voice test
      operationId: deleteVoiceTest
      description: >-
        Deletes the specified Voice test. This method requires Account Admin
        permissions.
      parameters:
        - $ref: '#/components/parameters/Tests_API_TestIdPath'
        - $ref: '#/components/parameters/Tests_API_AccountGroupId'
      responses:
        '204':
          $ref: '#/components/responses/Tests_API_204'
        '401':
          $ref: '#/components/responses/Tests_API_401'
        '403':
          $ref: '#/components/responses/Tests_API_403'
        '404':
          $ref: '#/components/responses/Tests_API_404'
        '429':
          $ref: '#/components/responses/Tests_API_429'
        '500':
          $ref: '#/components/responses/Tests_API_500'
        '502':
          $ref: '#/components/responses/Tests_API_502'
        default:
          $ref: '#/components/responses/Tests_API_GeneralError'
      security:
        - Tests_API_BearerAuth: []
  /network/path-vis/interface-groups:
    get:
      tags:
        - Path Visualization Interface Groups
      summary: List interface groups for path visualization
      operationId: getPathVisInterfaceGroups
      description: >-
        Returns a list of all path visualization interface groups. For more
        information about interface groups, see
        https://docs.thousandeyes.com/product-documentation/end-user-monitoring/viewing-data/endpoint-agent-views-reference#grouping.
      parameters:
[...]
